{% extends 'blog/base.html' %}

{% block content %}
    
        <article class="post">
            <aside class="actions">
                {% if post.published_data %}
                    <div class="date">
                        {{ post.published_data }}
                    </div>
                {% else %}
                    <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
                {% endif %}
                <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">Edit</a>
                <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}">Delete</a>

            </aside>
            
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
    
{% endblock %}